$primary-color: #1d428a;
$secondary-color: #4b82bc;
$tertiary-color: #93b4d7;
$success-color: #3eb43e;
$error-color: #d51246;
$warning-color: #eca300;
$normal-color: #d9d9d9;
$light-blue: #1890ff;
$gray: rgb(128, 128, 128);
$white: #fff;
$white-30: rgba($white, 0.3);
$black: #000;
$black-15: rgba($black, 0.15);
$black-35: rgba($black, 0.35);
$black-40: rgba($black, 0.4);
$black-45: rgba($black, 0.45);
$black-65: rgba($black, 0.65);
$black-85: rgba($black, 0.85);
$black-35: rgba($black, 0.35);
$faded-text-color: #00000066;
$dark-text-color: #000000b3;
$dark-greenish-blue: #345a60;
$visited-links-color: #a727bf;
$card-border: #f0f0f0;
$sections-background: #fbfcfc;
$avatar-icon-color: #b0d0d5;
$drop-down-arrow-color: #50646e;
$light-blue-gray: #e6f0f1;
$survey-fields-color: #f4f7f7;
$select-color: rgb(231, 234, 251);
$hover-color: #dadada;
$purple-bg: #f9f0ff;
$light-gray: rgba(220, 220, 224, 0.6);
$light-gray-blue: #97aaad;
// status
$active-status: #52c41a;
$active-status-bg: #f6ffed;
$active-status-border: #b7eb8f;
$disabled-status: #f5222d;
$disabled-status-bg: #fff1f0;
$disabled-status-border: #ffa39e;
// Font sizes
$small: 1.4rem;
$medium: 1.8rem;
$large: 2rem;

$border-radius: 0rem;
$box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
$disabling-background: #ccc;
$plus-color: #00817c;
$control-color: #f6dfff;
$listCard-border: 1px solid $card-border;
$card-container: rgba(229, 240, 241, 0.4);
$domain-icon-color: #dfffe4;
